.field-group-ps  {
   width: 450px;
}
#timeframe {
   max-width: 45px;
}
.btn{
   margin-left: 170px;
}
#mail-body {
   padding: 4px 0 4px 80px;
}
#mail-sbj {
   margin-left: 28px;
   width: 350px;
   max-width: 350px;
}
#mail-textarea-id {
   height: 150px;
   width: 350px;
   max-width: 550px;
}
#message-info-ps {
   width: 750px;
}