<html>
    <head>
        <title>Old Pages Review Service Configuration</title>
        <meta charset="UTF-8"/>
        <meta name="decorator" content="atl.admin">
    </head>
    <body>
    <h5>Job Input</h5>
        <form id="admin" class="aui" action="" method="POST">
            <div class="field-group-ps">
                <label for="monitoredSpaceKeys">Select space keys to be monitored:</label>
                    <select class="multi-select" multiple="multiple" size="8" id="monitoredSpaceKeys">
                            #foreach($spaceKey in $allSpaceKeys)
                                <option value="$spaceKey"
                                    #if ($affectedSpaces.contains($spaceKey)) selected #end>$spaceKey</option>
                            #end
                    </select>
            </div>

            <div class="field-group-ps">
                <label for="affectedGroups">Select affected groups:</label>
                    <select class="multi-select" multiple="multiple" size="8" id="affectedGroups">
                        #foreach($group in $allGroups)
                            <option value="$group.getName()"
                                #if ($affectedGroups.contains($group.getName())) selected #end>$group.getName()</option>
                        #end
                    </select>
            </div>

            <div class="field-group-ps">
                <label for="ignoredLabels">Pages with these labels will be excluded from the search:</label>
                <select class="multi-select" multiple="multiple" size="8" id="ignoredLabels">
                    #foreach($label in $allLabels)
                        <option value="$label.toString()"
                            #if ($ignoredLabels.contains($label.toString())) selected #end>$label</option>
                    #end
                </select>
            </div>

            <div>
                <label for="timeframe">Period to consider pages as outdated (day(s)):
                    <input type="number" min="0" id="timeframe" class="text" value="$!timeframe">
                </label>
            </div>

            <h5>Mail Content</h5>
            <div class="field-group-sb">
                <label for="mail-sbj">Subject:<span class="aui-icon icon-required" id="required-subj"></span></label>
                <input type="text" id="mail-sbj" class="text" placeholder="Your subject here..." value="$!mailSubject">
            </div>
            <form class="aui"
                <fieldset>
                    <div class="field-group" id="mail-body">
                        <label for="textarea-id">Mail Body:<span class="aui-icon icon-required" id="required-body"></span></label>
                        <textarea class="textarea" id="mail-textarea-id" placeholder="Your mail body here...">$mailBody</textarea>
                    </div>
                </fieldset>
            </form>

        <div class="mail-buttons-ps">
            <button class="aui-button" id="clear-button">Clear</button>
            <button class="aui-button" id="default-button">Default</button>
        </div>

        <br>
        <br>
            <div class="btn">
                <button class="aui-button aui-button-primary" id="save-button">Save</button>
            </div>
        </form>

        <div class="aui-message aui-message-info" id="message-info-ps">
                <strong>Configuration:</strong> visit Administration - Scheduled Jobs in order to set time interval for running job or to run it manually<br>
                <strong>Default schedule:</strong> each day at 00:00:00<br>
                <strong>Job:</strong> Old Pages Review Job<br>
                <strong>Available variables for mail body:</strong> $creator, $days, $links<br>
        </div>
    </body>
</html>