<html>
    <head>
        <title>Old Pages Review Service Configuration</title>
        <meta charset="UTF-8"/>
        <meta name="decorator" content="atl.admin">
    </head>
    <body>
        <form id="admin" class="aui" action="" method="POST">
            <div class="field-group">
                <label for="allSpaceKeys">Select space keys to be monitored:</label>
                <select class="multi-select" multiple="multiple" size="8" id="monitoredSpaceKeys">
                        #foreach($spaceKey in $allSpaceKeys)
                            <option value="$spaceKey"
                                #if ($affectedSpaces.contains($spaceKey)) selected #end>$spaceKey</option>
                        #end
                </select>
            </div>
            <div class="field-group">
                <label for="allGroups">Select affected groups:</label>
                <select class="multi-select" multiple="multiple" size="8" id="affectedGroups">
                    #foreach($group in $allGroups)
                        <option value="$group.getName()"
                            #if ($affectedGroups.contains($group.getName())) selected #end>$group.getName()</option>
                    #end
                </select>
            </div>
            <div class="field-group">
                <input type="number" min="0" id="timeframe" class="text">
                <label for="timeframe">Period to consider pages as outdated (day(s)):</label>
            </div>
            <div class="field-group">
                <input type="submit" value="Save" class="button">
            </div>
        </form>
            <br>
            <div class="view">
                <label for="monitored-space-keys"><strong>Monitored space keys:</strong> </label>
                    #foreach($space in $affectedSpaces)
                        $!space |
                    #end
            </div>
            <div class="view">
                <label for="name"><strong>Affected user groups:</strong> </label>
                    #foreach($group in $affectedGroups)
                        $!group |
                    #end
            </div>
            <div class="view">
                <label for="field-value"><strong>Period to consider pages as outdated (day(s)):</strong> </label>
                    $!timeframe
            </div>
            <div class="Info">
                <br>
                <strong>Configuration:</strong> visit Administration - Scheduled Jobs in order to set time interval for running job or to run it manually<br>
                <strong>Default schedule:</strong> each day at 00:00:00<br>
                <strong>Job:</strong> Old Pages Review Job<br>
            </div>
    </body>
</html>